<app-header></app-header>

<div class="flex h-full w-full py-20 px-40 bg-cover bg-no-repeat enableBlur rounded-md">
  <div class="bg-white flex flex-col disableBlur w-full">

    <div class="flex flex-col w-full bg-white p-20 lg:text-xl xl:text-2xl justify-start border-2">

      <button class="bg-green-500 hover:bg-green-700 p-4 text-md xl:text-xl text-white rounded w-2/5 lg:w-1/5 mb-10 ml-auto" (click)="updatePost()">Atualizar</button>

      <input [(ngModel)]="postForm.title" type="text" class="border-0 border-b-2 text-2xl lg:text-3xl xl:text-4xl font-bold focus:border-0 focus:border-b-2 rounded mt-10 mb-10" placeholder="Título" />

      <select [(ngModel)]="postForm.subject" multiple name="subject" class="border-0 border-b-2 text-2xl lg:text-3xl xl:text-4xl font-bold focus:border-b-2 rounded mb-10">
        <option value="0" disabled selected>Assunto</option>
        <option value="Entertainment">Entreternimento</option>
        <option value="Politics">Política</option>
        <option value="Sports">Esporte</option>
      </select>

      <textarea [(ngModel)]="postForm.content" class="rounded-md lg:text-xl xl:text-2xl flex justify-start" placeholder="Insira o texto..." rows="50" style="resize: none;"></textarea>

      <button class="bg-green-500 hover:bg-green-700 p-4 text-md xl:text-xl text-white rounded w-2/5 lg:w-1/5 mt-10 ml-auto" (click)="updatePost()">Atualizar</button>

    </div>
  </div>
</div>

<app-error-alert *ngIf="this.alert.showAlert === true && this.alert.activeAlert === 'error'"></app-error-alert>
<app-warning-alert *ngIf="this.alert.showAlert === true && this.alert.activeAlert === 'warning'"></app-warning-alert>
<app-success-alert *ngIf="this.alert.showAlert === true && this.alert.activeAlert === 'success'"></app-success-alert>
